ELARIS_DB_CONNECTION=Host=localhost;Port=5432;Database=elaris;Username=elaris;Password=elaris
ELARIS_REDIS=localhost:6379
ELARIS_JWT_ISSUER=elaris-api
ELARIS_JWT_AUDIENCE_MEMBER_MOBILE=member-mobile
ELARIS_JWT_AUDIENCE_MEMBER_WEB=member-web
ELARIS_JWT_AUDIENCE_STAFF=staff
